body {
  padding: 30px 150px;
  font-family: "Inconsolata", "Courier New", Courier, monospace;
  color: #2b2b2b;
  line-height: 1.5;
  font-size: 1.1rem;
}

a {
  text-decoration: underline;
  color: #2b2b2b;
}

h1, h2 {
  font-size: 1.3rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h2 {
  padding: 5px 0 5px 20px;
  border-bottom: 1px dashed #888888;
  margin-bottom: 5px;
}

h3 {
  padding-top: 5px;
}

header nav {
  float: right;
}

header {
  padding-bottom: 20px;
}

section {
  padding-bottom: 25px;
}

section#info {
  padding-bottom: 35px;
}

li {
  padding-bottom: 5px;
}

.emoji {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}


/* =============================================================================
   Small screens Styles
   ========================================================================== */

@media only screen and (max-width: 768px) {
  body {
    padding: 15px 50px;
  }
}


/* =============================================================================
   Print Styles
   ========================================================================== */

@media print {
  * {
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  body {
    padding: 25px 40px;
    line-height: 1.5;
    font-size: 12px;
  }
  section {
    padding-bottom: 10px;
  }
  a {
    text-decoration: none;
  }
  @page {
    margin: 0.5cm;
  }
  h2 {
    border-bottom: 1px solid #888888;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
  nav {
    display: none;
  }
  section {
    border: none;
  }
}
